<div class="commentsWrapper" *ngIf="field == 'comment'">
    <div class="pl-2 pr-2">
        <app-usermedia *ngIf="user" [s]="'d32 pull-right'" [user]="user" [tooltip]="user.fullName" [pic]="user.pic">
        </app-usermedia>
    </div>
    <div *ngIf="type == 'new'" class="rightArea" style="max-width: 90%;">
        <div *ngIf="!comment" id="addCommentPlaceHolder" (click)="createComment()">
            Write a comment
        </div>
        <div *ngIf="comment">
            <ng-container [ngTemplateOutlet]="previewArea"></ng-container>
            <ng-container [ngTemplateOutlet]="formButtons"></ng-container>
        </div>
    </div>
    <div *ngIf="type == 'edit'" class="rightArea" style="max-width: 90%;">
        <a (mouseenter)="showIcon['comment-'+comment.id] = true" (mouseleave)="showIcon['comment-'+comment.id] = false"
            class="commentTitle"><b>{{comment.by.fullName}}</b>
            <span class="ml-1 quiet" nz-tooltip nzTooltipTitle="{{comment.created | date:'long'}}">
                {{comment.created | date:'MMM d, h:mm a'}}</span>
            <span *ngIf="comment.updated && comment.created !== comment.updated" nz-tooltip
                nzTooltipTitle="{{comment.updated | date:'long'}}" class="ml-1 quiet">
                (edited)</span>
            <app-icon nz-tooltip nzTooltipTitle="Click to copy" *ngIf="showIcon['comment-'+comment.id]"
                (click)="copyLink(comment.id)" class="ml-1" height="18" width="18" style="color:#a5a5a5"
                icon="link-45deg">
            </app-icon>
        </a>
        <div *ngIf="editmode=='view'" class="mt-2">
            <div class="commentRender" [innerHTML]="reviewHtml"></div>
            <span class="hint-text p-0 mt-10 small">
                <a *ngIf="comment.editable" style="cursor: pointer;" (click)="editComment()">Edit</a>&nbsp;&nbsp;
                <a *ngIf="comment.deletable" style="cursor: pointer;" (click)="deleteComment()">Delete</a>
            </span>
        </div>
        <div *ngIf="editmode == 'edit'">
            <ng-container [ngTemplateOutlet]="previewArea"></ng-container>
            <ng-container [ngTemplateOutlet]="formButtons"></ng-container>
        </div>
    </div>
</div>
<ng-template #formButtons>
    <div class="row mt-1">
        <div class="col-6">
            <nz-radio-group [(ngModel)]="mode">
                <label nz-radio-button class="descSwitchBtn" (click)="mode = 'write'" nzValue="write">Write</label>
                <label nz-radio-button class="descSwitchBtn" [nzDisabled]="comment.comment == ''"
                    (click)="renderPreView(comment.comment);mode = 'preview'" nzValue="preview">Preview</label>
            </nz-radio-group>
            <!-- <button class="ml-1 p-2" nz-button nz-tooltip nzTooltipTitle="Attach" *ngIf="issue.permissions.attach"
                nz-dropdown nzTrigger="click" nzBackdrop="false" [nzDropdownMenu]="commentAttachMenu"
                (click)="getAttachments()"><img src="/assets/img/icon-attach.svg"></button>
            <nz-dropdown-menu #commentAttachMenu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="triggerAttachment.emit()">Computer</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item *ngFor="let a of attachments" (click)="append(a)">{{a.originalName}}</li>
                    <li nz-menu-item *ngFor="let a of imageAttachments" (click)="append(a)">{{a.originalName}}</li>
                </ul>
            </nz-dropdown-menu> -->
        </div>
        <div class="col-6 text-right">
            <button nz-button nzType="default" class="mr-1" [nzLoading]="actionLoading"
                (click)="resetComment()">Cancel</button>
            <button nz-button nzType="primary" [disabled]="comment.comment == ''" [nzLoading]="actionLoading"
                (click)="saveComment()">Save</button>
        </div>
    </div>
</ng-template>
<ng-template #previewArea>
    <div *ngIf="mode=='write'">
        <nz-mention [nzSuggestions]="suggestions" nzNotFoundContent="No results" [nzValueWith]="valueWith">
            <textarea placeholder="Markdown syntax supported try **bold** for bold" nz-input autofocus
                id="commentsArea-{{rand}}" [nzAutosize]="{ minRows: 4, maxRows: 30 }" [(ngModel)]="comment.comment"
                (ngModelChange)="change()" (commentvalueChange)="value = $event" nzMentionTrigger></textarea>
            <ng-container *nzMentionSuggestion="let usr">
                <span>{{ usr.fullName }} [{{ usr.userName }}]</span>
            </ng-container>
        </nz-mention>
    </div>
    <div *ngIf="mode=='preview'">
        <nz-spin nzTip="Loading..." [nzSpinning]="loading">
            <div class="commentRender" [innerHTML]="preview"></div>
        </nz-spin>
    </div>
</ng-template>
<div *ngIf="field == 'desc'" class="editable issue-desc">
    <div *ngIf="editmode=='view'" style="position: relative;" (mouseenter)="editable ? pencil = true: pencil = false"
        (mouseleave)="pencil = false">
        <div class="commentRender" [class.pencil]="pencil" style="border: none;min-height:3rem"
            [innerHTML]="reviewHtml"></div>
        <button *ngIf=" pencil" (click)="editDesc()" class="issueQuickButtons p-2" nz-button nz-tooltip
            nzTooltipTitle="Edit" style=" position:absolute; top:0; right:0;margin:5px;">
            <app-icon height="20" width="20" icon="pencil"> </app-icon>
        </button>
    </div>
    <div *ngIf="editmode == 'edit' || editmode == 'create'">
        <div *ngIf="mode=='write'">
            <nz-mention [nzSuggestions]="suggestions" nzNotFoundContent="No results" [nzValueWith]="valueWith">
                <textarea placeholder="Markdown syntax supported try **bold** for bold" nz-input autofocus
                    id="commentsArea-{{rand}}" [nzAutosize]="{ minRows: 4, maxRows: 30 }" [(ngModel)]="desc"
                    nzMentionTrigger (ngModelChange)="descchange()"></textarea>
                <ng-container *nzMentionSuggestion="let usr">
                    <span>{{ usr.fullName }} [{{ usr.userName }}]</span>
                </ng-container>
            </nz-mention>
        </div>
        <div *ngIf="mode=='preview'">
            <nz-spin nzTip="Loading..." [nzSpinning]="loading">
                <div class="commentRender" [innerHTML]="preview"></div>
            </nz-spin>
        </div>
        <div class="row mt-1">
            <div class="col-6">
                <nz-radio-group [(ngModel)]="mode">
                    <label nz-radio-button class="descSwitchBtn" (click)="mode = 'write'" nzValue="write">Write</label>
                    <label nz-radio-button class="descSwitchBtn" [nzDisabled]="desc == ''"
                        (click)="renderPreView(desc);mode = 'preview'" nzValue="preview">Preview</label>
                </nz-radio-group>
            </div>
            <div class="col-6 text-right" *ngIf="editmode != 'create'">
                <button nz-button nzType="default" class="mr-1" (click)="resetDesc()"
                    [nzLoading]="actionLoading">Cancel</button>
                <button nz-button nzType="primary" [disabled]="desc == ''" [nzLoading]="actionLoading"
                    (click)="saveDesc()">Save</button>
            </div>
        </div>
    </div>
</div>