@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
body, html {
    font-family: "Roboto", sans-serif;
    background-color: #cddade;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    color: #202125;
    margin-bottom: 40px;
}

.header h2 {
    font-weight: 600;
}

.header p {
    font-weight: 300;
}

.gantt {
    display: grid;
    border: 0;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    /*box-shadow: 0 2px 8px 0px #dcdcdc;*/
}

.gantt__row {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #fff;
}

span.today {
    font-size: 16px !important;
    color: #f23030;
}

.gantt__row--empty {
    background-color: #fcf4f3 !important;
    z-index: 1;
}

.gantt__row--empty .gantt__row-first {
    border-width: 1px 1px 0 0;
}

.gantt__row--lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 150px repeat(31, 1fr);
}

.gantt__row--lines span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.gantt__row--lines span.marker {
    background-color: rgb(139 177 191 / 7%);
    z-index: 2;
}

.gantt__row--lines:after {
    grid-row: 1;
    grid-column: 0;
    background-color: #1688b345;
    z-index: 2;
    height: 100%;
}

.gantt__row--months {
    color: #0a3444;
    background-color: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    grid-template-columns: 150px repeat(31, 1fr);
}

.gantt__row--months .gantt__row-first {
    border-top: 0 !important;
    background-color: #73a5ff !important;
}

.gantt__row--months span {
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 20px 0;
}

.gantt__row-first {
    background-color: #fff;
    border-width: 1px 0 0 0;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    padding: 15px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.gantt__row-bars {
    list-style: none;
    display: grid;
    padding: 9px 0;
    margin: 0;
    grid-template-columns: repeat(31, 1fr);
    grid-gap: 8px 0;
    border-top: 1px solid rgba(221, 221, 221, 0.8);
}

.gantt__row-bars li {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    min-height: 15px;
    padding: 5px 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
}

.gantt__row-bars li.stripes {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}

.gantt__row-bars li:before, .gantt__row-bars li:after {
    content: "";
    height: 100%;
    top: 0;
    z-index: 4;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}

.gantt__row-bars li:before {
    left: 0;
}

.gantt__row-bars li:after {
    right: 0;
}