<nz-page-header [nzGhost]="false" nzTitle="Resolutions">
    <nz-page-header-extra>
        <button nzType="primary" nz-button (click)="create()">Create</button>
    </nz-page-header-extra>
</nz-page-header>
<div class="m-0 mt-4 row">
    <div class="col-6">
        <nz-table class="issueTable" *ngIf="resolutions" #resolutionsTable [nzData]="resolutions" nzPageSize="999999"
            [nzNoResult]="createDocTemp" nzShowPagination="false">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of resolutionsTable.data">
                    <td class="v-align-middle semi-bold">
                        {{r.name}}
                    </td>
                    <td>
                        <a (click)="openResolution(r)" class="btn btn-default btn-xs pull-right">
                            <app-icon height="18" width="18" icon="arrow-right-short"> </app-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
            <ng-template #createDocTemp>
                <img src="/assets/img/empty.svg" class="jdempty" width="200">
            </ng-template>
        </nz-table>
    </div>
    <div class="col-6">
        <div class="card card-bordered" *ngIf="resolution">
            <div class="card-header">
                <div class="card-title">
                    <span *ngIf="!resolution.id">Create </span> {{resolution.name}}
                </div>
            </div>
            <div class="card-body">
                <p>
                <form (ngSubmit)="save()" #issueTypeForm="ngForm" ngNativeValidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required name="groupName" placeholder="Name"
                            [(ngModel)]="resolution.name">
                    </div>
                    <button type="submit" class="ml-1" nz-button nzType="primary" *ngIf="!resolution.id">Create</button>
                    <button type="submit" class="ml-1" nz-button nzType="primary" *ngIf="resolution.id">Update</button>
                    <button type="button" (click)="cancel()" nz-button nzType="default" class="ml-1">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>