<nz-page-header class="calendarHeader" nzTitle="Worklog Calendar">
</nz-page-header>
<div class="m-4">
  <!-- <full-calendar class="card-calendar" #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }" [weekends]="true" [events]="events" (eventClick)="eventClicked($event)" (datesRender)="renderDate($event)"
        themeSystem="bootstrap" (dateClick)="handleDateClick($event)">
    </full-calendar> -->
  <!-- <full-calendar class="card-calendar" [options]='calendarOptions'></full-calendar> -->
</div>