.vertical-center {
    min-height: 95%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 95vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}